
<div layout="column" flex layout-fill ng-cloak>
    <md-toolbar md-scroll-shrink class="maintoolbar md-primary toolbar-fixed" layout="row" layout-align="space-between center">
        <div class="md-toolbar-tools grid_0">{{ "HEAD_TITLE_HOME" | translate }}</div>
    </md-toolbar>
    <md-progress-linear data-loading md-mode="indeterminate"></md-progress-linear>
</div>
<div layout="column" flex layout-fill ng-cloak class="content-margin" >
    <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
    <md-content  flex-sm md-theme="primary" >
        <section>
            <div ng-show="phase==='init'">
              <p >
                game
              </p>
              <p >
                loading game...
              </p>
            </div>
            <div ng-show="phase==='game'">
              <div class="row">
              <div  layout="row" layout-align="center center" ng-repeat="item in bees" ng-class="item.type">
               <div class="bee">
               <p><strong>{{item.type}}<strong> ({{item.lifespan}}/{{item.maxlifespan}})</p>
              </div>
              </div>
              <div class="row" ng-show="phase==='game'">
                <md-button class="md-primary md-raised" ng-click="ramdomHit();">generate hit</md-button>
              </div>
        </section>
    </md-content>
</div>

